.vscode
build
logs
cmake-*
.idea
TODO.md

# MSVC stuff
*.obj
*.lib
*.dll
*.exe
*.ifc
*.exp
*.ipdb

*.vcxproj
*.sln

# SourceTrail stuff
*.srctrl*

# Documentation stuff
_build
_static
_templates
*docs*