.vscode
bin
build
logs
obj
project
tools
module

include/exp/*
src/exp/*

# MSVC stuff
*.obj
*.lib
*.dll
*.exe
*.ifc
*.exp
*.ipdb

*.vcxproj
*.sln

# SourceTrail stuff
*.srctrl*

# My stuff :)
WIP
NOTES.md
Roadmap.todo
benchmark.json
build.json
bld.bat